<!DOCTYPE html>
<html>
   
<head>
        <link rel ="stylesheet" type= "text/css" href="css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <style>
        body {
            background-color: #FDFD96;
        }
        
    <img src= "images/bee.png" width="175" height="142" alt="bee">

     <h2> We want everyone to BEE happy!!!</h2>
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    </style>
    
</head>
<body>
     
    <img src= "images/bee.png" width="170" height="137" alt=bee>
    <img src= "images/bee.png" width="170" height="137" alt=bee>
    <img src= "images/bee.png" width="170" height="137" alt=bee>
    <img src= "images/bee.png" width="170" height="137" alt=bee>
    <img src= "images/bee.png" width="170" height="137" alt=bee>
    <img src= "images/bee.png" width="170" height="137" alt=bee>
    <img src= "images/bee.png" width="170" height="137" alt=bee>
    <img src= "images/bee.png" width="170" height="137" alt=bee>

    <div class="tab">
      <button class="tablinks" onclick="openCity(event, 'Resources')">Resources</button>
      <button class="tablinks" onclick="openCity(event, 'Live')">Live</button>
      <button class="tablinks" onclick="openCity(event, 'Laugh')">Laugh</button>
      <button class="tablinks" onclick="openCity(event, 'Love')">Love</button>
    </div>
    
    <div  id="Resources" class="tabcontent">
        <img src= "images/scre.png" width="200" height="200" alt=bee>
    <p><a href=" https://www.wikihow.com/Cope-With-Suicidal-Thoughts">WikiHow: Ways to cope with suicidial thoughts!</a></p>
        <img src= "images/screen.png" width="250" height="200" alt=bee>
    <p><a href="https://www.speakingofsuicide.com/2013/04/14/fears-of-mental-hospital/">Scared of Judgment? Heres Why You Shouldn't Be</a></p>
        <img src= "images/sc.png" width="260" height="190" alt=bee>
    <p><a href="https://www.journalate.com/a/write ">Online Diary: Let it Out!!</a></p>
    </div>
    
    <div id="Live" class="tabcontent">
        <img src= "images/LTL.png" width="270" height="200" alt=bee>
      <p><a href="https://www.livethroughthis.org/story/lindsey-peterson/ ">They Did It So Can You!!</a></p>
        <img src= "images/Q.png" width="250" height="200" alt=bee>
       <p><a href="https://www.brainyquote.com/topics/motivational">Motivational Quotes</a></p>
        <img src= "images/GT.png" width="200" height="200" alt=bee>
        <p><a href="https://www.goodtherapy.org/learn-about-therapy/issues/suicide">Sucidial Therapy Methods </a></p>
    </div>
    
    <div id="Laugh" class="tabcontent">
        <img src= "images/laugh.png" width="50" height="50" alt=bee>
        <img src= "images/laugh.png" width="50" height="50" alt=bee>
        <img src= "images/laugh.png" width="50" height="50" alt=bee>
        <img src= "images/laugh.png" width="50" height="50" alt=bee>
        <img src= "images/laugh.png" width="50" height="50" alt=bee>
        <img src= "images/laugh.png" width="50" height="50" alt=bee>
        <img src= "images/laugh.png" width="50" height="50" alt=bee>
        <img src= "images/laugh.png" width="50" height="50" alt=bee>
        <img src= "images/laugh.png" width="50" height="50" alt=bee>
        <img src= "images/laugh.png" width="50" height="50" alt=bee>
        <img src= "images/laugh.png" width="50" height="50" alt=bee>
        <img src= "images/laugh.png" width="50" height="50" alt=bee>
        <img src= "images/laugh.png" width="50" height="50" alt=bee>
        <img src= "images/laugh.png" width="50" height="50" alt=bee>
        <img src= "images/laugh.png" width="50" height="50" alt=bee>
        <img src= "images/laugh.png" width="50" height="50" alt=bee>
        <img src= "images/laugh.png" width="50" height="50" alt=bee>
        <img src= "images/laugh.png" width="50" height="50" alt=bee>
        <img src= "images/laugh.png" width="50" height="50" alt=bee>
        <img src= "images/laugh.png" width="50" height="50" alt=bee>
        <img src= "images/laugh.png" width="50" height="50" alt=bee>
        <img src= "images/laugh.png" width="50" height="50" alt=bee>
        <img src= "images/laugh.png" width="50" height="50" alt=bee>
        <img src= "images/laugh.png" width="50" height="50" alt=bee>
        <img src= "images/laugh.png" width="50" height="50" alt=bee>
        
  
 <br>
  
  
        <img src= "images/mem.jpg" width="300" height="200" alt=bee>
        <img src= "images/mimmm.jpg" width="300" height="200" alt=bee>
        <img src= "images/memes.jpg" width="300" height="200" alt=bee>
        <img src= "images/memem.jpg" width="250" height="200" alt=bee>
        <img src= "images/ubrrk.jpg" width="250" height="200" alt=bee>
        <img src= "images/funny.jpg" width="250" height="200" alt=bee>
        <img src= "images/f9a.jpg" width="250" height="200" alt=bee>
        <img src= "images/meme2.jpg" width="250" height="200" alt=bee>
        <img src= "images/dog.jpg" width="200" height="200" alt=bee>
        <img src= "images/Baby copy.jpg" width="300" height="200"alt = "Baby">
        <img src= "images/DoctorWho.jpg" width="300" height="200"alt = "Doctor Who?">
        <img src= "images/Dog&Pillow.jpg" width="300" height="200"alt = "Dog & Pillow">
        <img src= "images/Fly.jpg" width="300" height="200"alt="Airplane">
        <img src= "images/Water.jpg" width="300" height="200"alt="Squirrel">
    </div>
    
    
    <div id="Love" class="tabcontent">
    <h4> We Love You </h4>
        <img src= "images/hearts.png" width= "250" height="250" alt=bee>
    <p><a href="https://suicidepreventionlifeline.org/chat/">Need to Talk to Someone? </a></p>
        <img src= "images/H.png" width="260" height="200" alt=bee>
    <p><a href="https://www.betterhelp.com/helpme/?utm_source=AdWords&utm_medium=Search_PPC_c&utm_term=depression+support+groups_e&utm_content=46369577185&network=g&placement=&target=&matchtype=e&utm_campaign=384672130&ad_type=text&adposition=1t3&gclid=Cj0KCQjwjtLZBRDLARIsAKT6fXyfTvPtBmZsnzD6gTE3aYp09qeS9YdZ2vgkMiREbInrGcKJ_senv5IaAi3nEALw_wcB&not_found=1&gor=helpme">Online Support Group </a></p>
        <img src= "images/X.png" width="260" height="200" alt=bee>
    <p><a href="https://www.psychologytoday.com/us/groups/depression">In-Person Support Groups</a></p>
        <img src= "images/G.png" width="260" height="200" alt=bee>
    </div>
<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>

      <h2> We want everyone to BEE happy!!!!</h2>
      <h3>..........Need direct Resources? Take this Quiz to recive suggestions..........</h3>
      <form method="post" action="/quiz">
       <center><input type="submit" id="search" value="Quiz"></center>
       <br>
     <img src= "images/bee.png" width="170" height="137" alt=bee>
    <img src= "images/bee.png" width="170" height="137" alt=bee>
    <img src= "images/bee.png" width="170" height="137" alt=bee>
    <img src= "images/bee.png" width="170" height="137" alt=bee>
    <img src= "images/bee.png" width="170" height="137" alt=bee>
    <img src= "images/bee.png" width="170" height="137" alt=bee>
    <img src= "images/bee.png" width="170" height="137" alt=bee>
    <img src= "images/bee.png" width="170" height="137" alt=bee>

    </body>


</html>
