<!DOCTYPE html>
<html>
    <head>
        <title>Quiz</title>
        <style>
        body {
            background-color:#9EF1DD;
            font-family: 'Merienda One', cursive;
            color: #0F816D;
            font-size: 200%;
        }
        </style>
    </head>
    <body>
        <form method = "post" action = "/results">
            
            
                <big>
            <h1><center>Quiz</center></h1>
            
            <h3><b>1.  What is your age?</b></h3>
             <h4> <input type = "radio" name = "age" value = "30_&_above"> 30 & above</h4>
             <h4> <input type = "radio" name = "age" value = "between_18_&_30"> between 18 & 30</h4>
             <h4> <input type = "radio" name = "age" value = "17_&_under"> 17 & under</h4>
            
            <h3><b>2.  Have you ever attempted suicide?</b></h3>
            <h4> <input type = "radio" name = "attempted" value = "yes"> Yes</h4>
            <h4> <input type = "radio" names = "attempted" value = "no"> No</h4>
            
            <h3><b>3.  Why do you think you are having suicidal thoughts?</b></h4>
            <h4> <input type = "radio" name = "thoughts" value = "peer_pressure/bullying"> peer pressure/bullying</h4>
            <h4> <input type = "radio" name = "thoughts" value = "disorders"> disorders</h4>
            <h4> <input type = "radio" name = "thoughts" value = "depression"> depression</h4>
            <h4> <input type = "radio" name = "thoughts" value = "regret/guilt"> regret/guilt</h4>
            <h4> <input type = "radio" name = "thoughts" value = "I'm_not_sure."> I'm not sure.</h4>
            
            
            
            <h3><b>4. Do you prefer cats or dogs?</b></h3>
            <h4> <input type = "radio" name = "pets" value = "cats"> cats</h4>
            <h4> <input type = "radio" name = "pets" value = "dogs"> dogs</h4>
            
            
            
            <input type = "submit" value ="Submit">
                </big>
            
        </form>
        
    </body>
</html>
